<div class="row">
  <div class="span12">
    <div class="span4 offset4">
      <div style="margin-left: 50px;"><%= image_tag('runway.png', alt: "The Runway") %></div>
    </div>
  </div>
</div>

<div class="row">
<div class="span12" >
  <% @picposts.each_slice(4) do |picpost_four| %>
    <div class="row picture_row">
    <% picpost_four.each do |picpost| %>
        <div class="span3">
     
          <div class="pic shadow round">
            <div class="picture_content">
              <div class="user_container"><i class="icon-user"></i> <%= picpost.user.name %></div>
              <%= image_tag(picpost.picture_url) %>
              <p class="caption" style="width: 150px; padding-bottom: 5px; padding-top: 5px; border-bottom: 1px solid #F5CED0;"><%= picpost.caption %></p>
            </div>
            <div class="rating_panel">
                <%= render 'rating_form', picpost: picpost %>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  <% end %>
</div>
</div>

