<% provide(:title, @user.name ) %>
<div>
  <div style="float: left;">
    <aside style="width: 100px;">
      <section>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>

    <ul class="sidebar coolshadow round">

      <%= link_to user_picpost_path, {remote: true} do %>
        <li id="user_picposts">Posts<i class="icon-chevron-right"></i></li>
      <% end %>

      <%= link_to user_comment_path, {remote: true} do %>
        <li id="user_comments">Comments<i class="icon-chevron-right"></i></li>
      <% end %>

      <%= link_to user_feedback_path, {remote: true} do %>
        <li id="user_feedback">Feedback<i class="icon-chevron-right"></i></li>
      <% end %>

      <%= link_to user_favorite_path, {remote: true } do %>
        <li id="user_favorites">Favorites<i class="icon-chevron-right"></i></li>
      <% end %>
    </ul>

    <div id="stat_container" style="margin-top: 180px;">
      <%= render 'shared/picpost_stats', picposts: @picposts %>
    </div>

  </div>

  <div class="user_header" style="float: left; width: 800px; padding-left: 30px;">
    <h4>Posts</h4>
    <br/>
  </div>

  <div style="float: left; width: 800px; padding-left: 30px;">
    <div id="user_content_container">
      <%= render 'shared/picposts', picposts: @picposts %> 
    </div>
  </div>
</div>
  <div class="clearfix"></div>

