
<div id="picpost_container" style="position: absolute;">
  <% @picposts.each do |picpost| %>
          <div class="pic coolshadow">

            <div class="favorite_div" id="favorite_div_<%= picpost.id %>" style="display: none; position: absolute; top: 10px; right: 10px;">
              <%= render 'shared/favorites_form', picpost: picpost %>
            </div>

            <div class="picture_content">
              <div class="user_container"><i class="icon-user"></i> <%= picpost.user.name %></div>
              <%#= image_tag(picpost.picture_url) %>
              <%= image_tag(picpost.picture.thumb.url) %>
              <!--- <p class="caption" style="width: 150px; padding-bottom: 5px; padding-top: 5px; border-bottom: 1px solid #F5CED0;"><%= picpost.caption %></p> -->
              <p class="caption" style="width: 150px; padding-bottom: 5px; padding-top: 5px; border-bottom: 1px solid #ACD3FC;"><%= picpost.caption %></p>
            </div>
            <div id=<%= "rating_#{picpost.id}" %> class="rating_panel">
                <%= render 'static_pages/rating_form', picpost: picpost %>
            </div>
          </div>
  <% end %>
</div>

