<header class="navbar" style="position: fixed; top: 0; right: 0; left: 0; z-index: 1030; margin-bottom: 0;">
  <div class="dark_gradient" style="height: 50px;">
    <div class="" style="width: 940px; margin-left: auto; margin-right: auto; overflow: visible;">
      <%= link_to image_tag("logo4.png", alt: "GetupSavvy"), root_path, id: "logo" %>
      <nav>
        <ul class="savnav" style="float: right;">
          <li>
            <%= link_to new_picpost_path, remote: true  do %>
              Add New
            <% end %>
          </li>
          <li><%= link_to "The Runway", root_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if user_signed_in? %>
            <li><%#= link_to "Users", users_path %></li>
            <li id="" class="dropdown" style="position: relative;">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span><%= current_user.name %><b class="caret" style="margin-top: 8px 0px 0px 2px; border-top-color: white; border-bottom-color: white;"></b></span>
              </a>
              <ul class="savdropdown-menu">
                <li><%= link_to "Posts", user_path(current_user, frame: 'picposts') %></li>
                <li><%= link_to "Comments", user_path(current_user, frame: 'comments') %></li>
                <li><%= link_to "Feedback", user_path(current_user, frame: 'feedback') %></li>
                <li><%= link_to "Favorites", user_path(current_user, frame: 'favorites') %></li>
                <li><%= link_to "Settings", edit_user_registration_path %></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
